$white: #fff;
$black: #000;
$background: #f2f2f2;
$primary: #0e6588;
$primaryDark: #0e4988;
$primaryLight: #0e6d88;
$disabledBackground: #ccc;
$disabledColor: #666;
$valid: #4caf50;
$invalid: #ef5350;
