@import '../../styles/colors.scss';

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;
    gap: 20px;

    .inputs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20;
    }
    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    button {
      margin-top: 32px;
    }
  }
}
